<style>
#systems {
background-color: #ededed;
color: #6b6b6b;
}

#systems label {
color: #6b6b6b;
}

#systems input {
box-shadow: inset 0 1px 0 rgba(0,0,0,.1),inset 0 1px 1px rgba(0,0,0,.05);
border-radius: 3px;
border-color: #858585 #c2c2c2 #c2c2c2;
}

#systems span.label {
padding: 0.15rem 0.3rem;
border-radius: 2px;
}

#systems .CM span.label {
background-color: #6cc86d
}

#systems .PMS span.label {
background-color: #3fa0b2
}

#systems .CRS span.label {
background-color: #f5a362
}

.filter input[type="checkbox"], .filter input[type="radio"] {
margin: 0.6rem 0.3rem;
}

.filter dl dt {
font-size: 0.8rem;
margin-top: 1.4rem;
}

.filter label {
line-height: 1;
}

#systems .help-text {
font-size: 0.8rem;
color: #6b6b6b;
font-style: normal;
}

.sort-bar .button-group {
border-top: 3px solid #c7c7c7;
border-bottom: 2px solid #999999;
border-radius: 3px;
background-color: #ffffff;
}

.sort-bar .button {
background-color: #ffffff;
border: none;
border-top: 3px solid #c7c7c7;
color: #0e66b8;
margin: -3px 0 0 0;
padding: 1rem;
}

.sort-bar .button:hover, .sort-bar .active {
border-top: 3px solid #000000;
}

.button-group .title {
display: inline-block;
font-size: 0.9rem;
padding: 1rem;
line-height: 1;
vertical-align: middle;
}

section.hero .inner h2 {
margin: 1em auto;
max-width: 500px;
}

.provider-list .menu li {
background-color: #ffffff;
margin-bottom: 2px;
}

.provider-list .menu li>a {
padding: 0.8rem 1rem;
}

.provider-list .menu .system-type {
float: right;
margin-top: 0.8rem;
}

.provider-list .menu .system-name {
font-size: 1.1rem;
margin: 0.3rem 0;
color: #0e66b8;
}

.provider-list .menu .company-name {
font-size: 0.9rem;
color: #797979;
}
</style>
<div id="systems">
  <section class="hero hero-cityscape">
    <div class="inner">
      <h1>System Providers</h1>
      <h2>Find your system provider and automate your property connection</h2>
    </div>
  </section>
  <section class="content small-12">
    <div class="row column">
      <div class="small-3 column filter">
        <nav role="navigation" class="sidebar-nav">
          <h5>Filter by:</h5>
          <form>
            <dl>
              <dt>Country</dt>
              <dd>
                <label><input type="text" placeholder="Enter your country" v-model="country"/></label>
                <p class="help-text">Display providers offering service in a specific location</p>
              </dd>

              <dt>System Type</dt>
              <dd>
                <div><label class="CM"><input type="checkbox" v-model="typeCM"><span class="label">CM</span> Channel Manager</label></div>
                <div><label class="PMS"><input type="checkbox" v-model="typePMS"><span class="label">PMS</span> Property Management System</label></div>
                <div><label class="CRS"><input type="checkbox" v-model="typeCRS"><span class="label">CRS</span> Central Reservations Systems</label></div>
              </dd>

              <dt>Language Supported</dt>
              <dd>
                <div><label><input type="text" placeholder="Enter language" v-model="language"/></label></div>
              </dd>

              <dt>System Support</dt>
              <dd>
                <div><label><input type="checkbox" v-model="liveSupport"> Provide live support</label></div>
              </dd>

              <dt>Product Updates</dt>
              <dd>
                <p class="help-text">Who can map property, rooms types and rate plans</p>
                <div><label><input name="product-updates" value="provider" type="radio" v-model="productUpdate"> Provider</label></div>
                <div><label><input name="product-updates" value="hotel" type="radio" v-model="productUpdate"> Hotel/Property</label></div>
                <div><label><input name="product-updates" value="both" type="radio" v-model="productUpdate"> Both</label></div>
              </dd>
            </dl>
          </form>
        </nav>
      </div>
      <div class="small-9 column">
        <p>You have many options for connecting your property to the Expedia Global Marketplace.
          Search our provider partners and find the system that best fits your needs.</p>

        <div class="sort-bar">
          <div class="button-group">
            <span class="title">Sort by:</span>
            <a class="button" v-on:click="sortedBy = 'score'" v-bind:class="{active: sortedBy == 'score'}">Provider Score</a>
            <a class="button" v-on:click="sortedBy = 'system'" v-bind:class="{active: sortedBy == 'system'}">System Name</a>
            <a class="button" v-on:click="sortedBy = 'company'" v-bind:class="{active: sortedBy == 'company'}">Company Name</a>
          </div>
        </div>

        <p class="help-text">See how we score our providers</p>

        <div class="provider-list">
          <ul class="vertical menu" data-accordion-menu>
            <li v-for="p in filteredProviders">
              <a href="#" v-bind:class="[p.type]">
                <span class="system-type"><span class="label">{{p.type}}</span> &gt;</span>
                <div class="system-name">{{p.system}}</div>
                <div class="company-name">by {{p.company}}</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </section>
</div>
<script src="/js/vue.min.js"></script>
<script type="text/javascript">
var allProviders = [
  {
    system: "WebPMSpro/ColibriPMS",
    company: "TDS network International",
    type: "CRS",
    language: "en",
    country: "US",
    score: 80
  },
  {
    system: "InnLink CRS",
    company: "Sirvoy",
    type: "PMS",
    language: "au",
    country: "AU",
    score: 100
  },
  {
    system: "Sirvoy Reservation System",
    company: "Sabre Hospitality Solutions",
    type: "CM",
    language: "de",
    country: "DE",
    score: 90
  }
];
$(function() {
  var app = new Vue({
    el: '#systems',
    data: {
      country: '',
      language: '',
      typeCM: false,
      typePMS: false,
      typeCRS: false,
      liveSupport: false,
      productUpdate: false,
      sortedBy: '',
      providers: allProviders
    },
    filters: {
      lower: function(v) {
        return v.toLowerCase();
      }
    },
    methods: {
      filteredByType: function(p) {
        if (this.typeCM || this.typePMS || this.typeCRS) {
          return !((this.typeCM && p.type == 'CM') || (this.typePMS && p.type == 'PMS') || (this.typeCRS && p.type == 'CRS'));
        }
        return false;
      },
      sortBySystem: function(a, b) {
        var x = a['system'].toLowerCase();
        var y = b['system'].toLowerCase();
        return (x < y) ? -1 : (x > y) ? 1 : 0;
      },
      sortByCompany: function(a, b) {
        var x = a['company'].toLowerCase();
        var y = b['company'].toLowerCase();
        return (x < y) ? -1 : (x > y) ? 1 : 0;
      },
      sortByScore: function(a, b) {
        var x = parseFloat(a.score);
        var y = parseFloat(b.score);
        return y - x; // desc
      }
    },
    computed: {
      filteredProviders: function() {
        var results = [];
        for (i in this.providers) {
          var p = this.providers[i];
          if (this.filteredByType(p)) {
            continue;
          }
          results.push(p);
        }
        return results;
      }
    },
    watch: {
      sortedBy: function(val) {
        switch (val) {
        case 'system':
          this.providers.sort(this.sortBySystem);
          break;
        case 'company':
          this.providers.sort(this.sortByCompany);
          break;
        case 'score':
          this.providers.sort(this.sortByScore);
          break;
        }
      }
    }
  });
});
</script>
