.scorecard-row {

    .scorecard-category {
        color: #0087F5;
        font-weight: bold;
        text-align: center;
        margin-bottom: 3em;
    }

    .scorecard-category-score {
        color: inherit;
        margin-bottom: 3em;

        .score-total {
            background: ghostwhite;
            padding: 2px;
            border: 1px solid #dddddd;

            .score-value {
                background: #0087F5;
            }
        }
    }

    .scorecard-provider {
        font-size: 3em;
    }

    .scorecard-rank {
        text-align: center;
        font-size: 3em;
    }

    .scorecard-rank:hover {
        cursor: pointer;
    }

    .scorecard-column {

        .check {
            height: 8em !important;
        }

        .border {
            border: 1px solid lightgrey;
            height: 6em;
            padding-top: 1em;
            margin-bottom: 50px;
        }

        .border:hover {
            cursor: pointer;
            border-color: #444;
        }

        .has-tip {
            font-weight: normal;
            color: inherit;
            display: inherit;
        }

        * {
            line-height: 1em;
            margin-bottom: 10px;
        }

        .scorecard-title {
            color: lightslategrey;
        }

        .value {
            font-size: 2em;
        }

        .rate-change {
            line-height: 2em;

            .green {
                color: darkgreen;
            }

            .red {
                color: darkred;
            }
        }

        .state {
            font-size: 2em;
            line-height: 2em;
            text-align: center;
        }

        .feature {
            text-align: center;
        }

        >.green {
            background: #cbe9cd;
            background: linear-gradient(to right, rgba(203,233,205,1) 0%,rgba(203,233,205,1) 50%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);

            .value {
                color: darkgreen;
            }
        }

        >.feature-green, .solid-background.green {
            background: #cbe9cd;

            .state {
                color: darkgreen;
            }
        }

        >.red {
            background: #F8E5D8;
            background: linear-gradient(to right, rgba(248,229,216,1) 0%,rgba(248,229,216,1) 50%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);

            .value {
                color: #de8344;
            }
        }

        >.feature-red, .solid-background.red {
            background: #F8E5D8;

            .state {
                color: darkred;
            }
        }
    }
}

hr {
    margin-bottom: 3em;
    max-width: 100%;
}

.tooltip {
    min-width: 200px;
}

#top-metrics {
    .top-metric-cards {
        .top-performer {
            font-size: 1.3em;
            line-height: 3em;
            margin-bottom: 0.5em;
            padding-left: 1em;
            padding-right: 1em;
            border: 1px solid #dddddd;

            .position {
                margin-right: 1em;
                display: inline-block;
            }

            .name {
                display: inline-block;
            }

            .score {
                display: inline-block;
                float: right;
            }
        }
    }
}