{
  "swagger": "2.0",
  "info": {
    "description": "A service that provides an API to analyze user hotel reviews.",
    "version": "1.0",
    "title": "cs-htlrv-analysis",
    "contact": {
      "email": "gmasse@expedia.com"
    },
    "license": {}
  },
  "host": "services.expediapartnercentral.com",
  "basePath": "/hotel-review",
  "tags": [
    {
      "name": "hotel-review-controller",
      "description": "Hotel Review Controller"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/service/v1/analyze": {
      "post": {
        "tags": [
          "hotel-review-controller"
        ],
        "summary": "Analyze User Hotel Review",
        "description": "Extract entities from the provided text and assign a sentiment score to them. The JSON response contains the analyzed text with the list of entities, their position within the text and their sentiment score.",
        "operationId": "analyzeUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "text",
            "description": "text",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "Basic": {
      "type": "basic"
    }
  },
  "definitions": {
    "Response": {
      "type": "object",
      "required": [
        "result",
        "success"
      ],
      "properties": {
        "result": {
          "description": "Result of the analysis",
          "$ref": "#/definitions/Result"
        },
        "success": {
          "type": "boolean",
          "example": true,
          "description": "Success of the analysis"
        }
      },
      "description": "Analysis Response"
    },
    "Entity": {
      "type": "object",
      "required": [
        "sentiment",
        "tokens",
        "type"
      ],
      "properties": {
        "sentiment": {
          "type": "number",
          "format": "double",
          "example": 0.84553,
          "description": "Sentiment score, between 0 and 1 where 0 is very negative and 1 very positive."
        },
        "tokens": {
          "type": "array",
          "description": "List of the tokens part of this entity",
          "items": {
            "$ref": "#/definitions/Token"
          }
        },
        "type": {
          "type": "string",
          "example": "Miscellaneous",
          "description": "Class of this entity"
        }
      }
    },
    "Token": {
      "type": "object",
      "required": [
        "position",
        "word"
      ],
      "properties": {
        "position": {
          "type": "integer",
          "format": "int32",
          "example": 9,
          "description": "Starting index of this word within the analyzed text"
        },
        "word": {
          "type": "string",
          "example": "rooms",
          "description": "Word part of the entity"
        }
      }
    },
    "Result": {
      "type": "object",
      "required": [
        "entities",
        "text"
      ],
      "properties": {
        "entities": {
          "type": "array",
          "description": "List of the entities extracted from the text",
          "items": {
            "$ref": "#/definitions/Entity"
          }
        },
        "text": {
          "type": "string",
          "example": "Booked 2 rooms for 1 night at this beautiful hotel in the heart of Madrid- we had a scheduled flight the next day but wished we could extend our stay further.The hotel is close to museums, touristy and shopping areas. The hotel staff are exceptional, they provided top notch personalised service from the moment we stepped in.",
          "description": "Text Analyzed"
        }
      },
      "description": "Analysis Result"
    }
  }
}
