footer#site-footer.row.full-width
    .large-8.large-centered.columns
        .links.text-center
            a.link-item(href='https://www.expediapartnercentral.com', target='_blank') Partner Central
            a.link-item(href='https://help.expediapartnercentral.com/en/your-connectivity/connectivity?hotel_id=14831843', target='_blank') Help Center
            a.link-item(href='/terms') Terms and Conditions
            a.link-item(href='/privacy') Privacy Policy
            a.link-item.last(href='/license') License Agreement
        .show-for-large
            .footer-logo &nbsp;
        #footer-copyright &copy; #{new Date().getFullYear()} Expedia, Inc. All rights reserved. Confidential and proprietary.
if meta && meta.pagename
    input(type="hidden", id="eventTrackingPageName", value=meta.pagename)
