#google_translate_element(style='display: none;')
header#site-navigation
    nav#nav-top.row.full-width
        .inner
            ul
                li#adminnav(style='display:none')
                    a(href='/test-properties/schedules-admin') Admin Schedules View
                li#hotelnav(style='display:none')
                    a(href='/test-properties/schedules') Schedules
                li#logoutnav(style='display:none')
                    a(href='/test-properties/', onclick='logout();') Logout
    nav#nav-main.row.full-width
        .inner
            a#logo(href='/')
                img(src='/images/EGLPS_logo_white_RGB.svg')
            #menu-toggle.hide-for-large
            #menu-wrap
                .hide-for-large
                ul
                    li.mainlink
                        a(href='/providers') Connectivity for Providers
                    li.mainlink
                        a(href='/properties') Connectivity for Properties
                    li.mainlink
                        a(href='/systems') System Providers
                    li.mainlink
                        a(href='/developer') Developer APIs
                    li.mainlink
                        a(href='/blog') Blog
                    li.mainlink
                        a(href='/contact-us') Contact Us
            span#cookies-alert
                a#cookies-link(href='/cookies')
                    span.fi-info &nbsp;This site uses cookies
